$blue:#498CCE;
$green:#27AE60;
$success:#00875A;
$red:#DE350B;
$yellow:#FF9D00;
$red_opaque:#FFEAEA;
$green_opaque:#E7FFED;
$blue_opaque: #D6F2FE;
$bg_gray:#F3F7FC;
$gray:#c4c4c4;
$light_gray:#F3F4F8;
$darkgray : #9496A1;
$purple : #9E31E1;
$primary: #0F248F;
$field_bg:#FFFFFF;


$gradient:  linear-gradient(81.58deg, #A6CA3B 0%, #4E93E4 100%);
$light_blue_gradient:linear-gradient(107.08deg, rgba(29, 163, 239, 0.160784) 1.56%, rgba(91, 97, 215, 0.160784) 98.86%);

