.sidebar-border{
    border: 3px solid #6b6b6b7f;
    border-left: none;
    border-bottom: none;
    background:linear-gradient(258.51deg, rgba(178, 178, 178, 0.0192) -39.33%, rgba(255, 255, 255, 0.024) 9.31%, rgba(153, 153, 153, 0.0276) -39.33%);
    border-radius: 0px 70px 70px 0px;
}